# .gitignore file
# Whitelist files/folders by adding a ! before the file - These will not be ignored
#!*.yaml
#!.gitignore
#!*.md
#!*.sh
#!*.js*
#!blueprints/
#!node-red/

# Ignore
deps/
image/
.ssh
.storage
.cloud
*.google.token
.google.token
logs
*.log*
__pycache__
*.pyc
home-assistant_v2.db*
custom_components
id_rsa*
*.uuid
*.db
*.db-journal
ip_bans.yaml
.ip_authenticated.yaml
secrets.yaml
.config_entries.json
known_devices.yaml